# html5 pushstate (history) support:
<ifModule mod_rewrite.c>
    RewriteEngine On
    
    # Force HTTPS
    RewriteCond %{HTTPS} !=on
    RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
    
    # Rewrite rules for Open SSL certification
    RewriteRule ^.well-known - [L]
    
    RewriteRule ^(app|assets)($|/) - [L]
	
	RewriteRule  ^([^/]+)\/(.*)$     $2 [L]
	
    RewriteCond %{REQUEST_FILENAME} !\.(js|css|gif|jpg|jpeg|png|ico|swf|pdf|html|php|json)$
    RewriteCond %{REQUEST_URI} !^index
    RewriteRule (.*) index.html [L]
		
</ifModule>